.list-gallery_wrapper {
  display: grid;
  color: white;
  font-family: "Netflix Sans";
  font-size: 20px;
  grid-gap: 10px;
  .list-gallery-item_wrapper {
    width: 100%;
    height: 550px;
    background-color: rgb(0, 0, 0);
    display: flex;
    .list-gallery-item_info-container {
      max-width: 550px;
      margin: 40px 100px;
    }
  }
}
