@mixin textFormat {
  justify-content: space-between;
  padding: 0 30px;
}

.faq-list_wrapper {
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 10px 0;
  padding: 30px;
  .faq-list_content-container {
    max-width: 900px;
    margin: 0 auto;
  }
  .faq_title {
    font-size: 3.125rem;
    font-family: "Netflix Sans Medium";
    margin: 0;
    line-height: 100px;
  }
  .faq-items_wrapper {
    display: grid;
    grid-gap: 8px;
    padding-top: 30px;
    .faq-item_wrapper {
      background-color: rgb(36, 39, 36);
      text-align: left;
      font-size: 22px;
      .faq_question_wrapper {
        display: flex;
        border-bottom: 1px solid black;
        cursor: pointer;
        @include textFormat;
        height: 85px;
        .faq_toggle-btn {
          background-color: transparent;
          border: none;
          color: gray;
          font-size: 35px;
        }
      }
      .faq_answer-wrapper {
        @include textFormat;
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .faq-list_wrapper {
    padding: 20px;
    padding-top: 50px;
    .faq-list_content-container {
      max-width: 100vw;
    }
    .faq_title {
      font-size: 35px;
      font-family: "Netflix Sans Medium";
      margin: 0;
      line-height: 50px;
    }
    .faq-items_wrapper {
      display: grid;
      grid-gap: 8px;
      padding-top: 30px;
      .faq-item_wrapper {
        background-color: rgb(36, 39, 36);
        text-align: left;
        font-size: 18px;
        .faq_question_wrapper {
          display: flex;
          border-bottom: 1px solid black;
          cursor: pointer;
          @include textFormat;
          height: 80px;
          align-items: center;
          .faq_toggle-btn {
            background-color: transparent;
            border: none;
            color: gray;
            font-size: 35px;
          }
        }
        .faq_answer-wrapper {
          padding: 15px;
          font-family: "Netflix Sans Light";
        }
      }
    }
  }
}
