.header-global_wrapper {
  max-height: 60px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header-global_wrapper .site-logo-img {
  height: 55px;
  padding-left: 50px;
}
.header-global_wrapper .header-global_members-area {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}
.header-global_wrapper .header-global_members-area span {
  font-size: 14px;
}
.header-global_wrapper .header-global_members-area .subscription-bar {
  background-color: red;
  padding: 5px 20px 8px 20px;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.header-global_wrapper .header-global_members-area .login-bar {
  border: 1px solid gray;
  border-radius: 2px;
  background-color: transparent;
  padding: 5px 20px 8px 20px;
  font-size: 16px;
  color: #f8f8f8;
  cursor: pointer;
}

@media screen and (max-width: 1201px) {
  .header-global_wrapper .site-logo-img {
    transform: scale(1.4);
  }
  .header-global_wrapper .header-global_members-area {
    width: 550px;
  }
  .header-global_wrapper .header-global_members-area span {
    font-size: 15px;
  }
  .header-global_wrapper .header-global_members-area .subscription-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
  .header-global_wrapper .header-global_members-area .login-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
}
@media screen and (max-width: 769px) {
  .header-global_wrapper .site-logo-img {
    transform: scale(1.4);
  }
  .header-global_wrapper .header-global_members-area {
    width: 550px;
  }
  .header-global_wrapper .header-global_members-area span {
    font-size: 15px;
  }
  .header-global_wrapper .header-global_members-area .subscription-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
  .header-global_wrapper .header-global_members-area .login-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
}
@media screen and (max-width: 481px) {
  .header-global_wrapper .site-logo-img {
    transform: scale(1.4);
  }
  .header-global_wrapper .header-global_members-area {
    width: 550px;
  }
  .header-global_wrapper .header-global_members-area span {
    font-size: 15px;
  }
  .header-global_wrapper .header-global_members-area .subscription-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
  .header-global_wrapper .header-global_members-area .login-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
}
@media screen and (max-width: 320px) {
  .header-global_wrapper .site-logo-img {
    height: 40px;
  }
  .header-global_wrapper .header-global_members-area {
    width: 550px;
  }
  .header-global_wrapper .header-global_members-area span {
    font-size: 15px;
  }
  .header-global_wrapper .header-global_members-area .subscription-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
  .header-global_wrapper .header-global_members-area .login-bar {
    font-size: 18px;
    padding: 7px 22px 10px 22px;
  }
}

/*# sourceMappingURL=header-global.css.map */
