.header-global_wrapper {
  max-height: 60px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  .site-logo-img {
    height: 55px;
    padding-left: 50px;
  }
  .header-global_members-area {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    span {
      font-size: 14px;
    }
    .subscription-bar {
      background-color: red;
      padding: 5px 20px 8px 20px;
      font-size: 16px;
      color: white;
      border-radius: 2px;
      cursor: pointer;
    }
    .login-bar {
      border: 1px solid gray;
      border-radius: 2px;
      background-color: transparent;
      padding: 5px 20px 8px 20px;
      font-size: 16px;
      color: rgb(248, 248, 248);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1201px) {
  .header-global_wrapper {
    .site-logo-img {
      transform: scale(1.4);
    }
    .header-global_members-area {
      width: 550px;
      span {
        font-size: 15px;
      }
      .subscription-bar {
        font-size: 18px;
        padding: 7px 22px 10px 22px;
      }
      .login-bar {
        font-size: 18px;
        padding: 7px 22px 10px 22px;
      }
    }
  }
}

@media screen and(max-width: 969px) {
  .header-global_wrapper {
    .site-logo-img {
      height: 55px;
      padding-left: 25px;
    }
    .members-bar_mobile-more-btn {
      position: relative;
      right: 20px;
      width: 90px;
      height: 40px;
      border-radius: 5px;
      font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.52);
      background-color: transparent;
      color: white;
      cursor: pointer;
    }

    .header-global_members-area {
      width: 150px;
      display: flex;
      flex-direction: column;
      padding-right: 0;
      transform: translateY(80%);
      z-index: 6;
      position: absolute;
      right: 10px;
      max-width: 200px;
      span {
        display: none;
      }
      .subscription-bar {
        padding: 0;
        width: 100%;
        height: 50px;
        font-size: 18px;
        border: 2px solid white;
      }
      .login-bar {
        padding: 0;
        width: 100%;
        height: 50px;
        font-size: 18px;
        background-color: black;
        margin-top: 10px;
        border: 2px solid white;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .header-global_wrapper {
    .site-logo-img {
      transform: scale(1.4);
    }
    .header-global_members-area {
      width: 550px;
      span {
        font-size: 15px;
      }
      .subscription-bar {
        font-size: 18px;
        padding: 7px 22px 10px 22px;
      }
      .login-bar {
        font-size: 18px;
        padding: 7px 22px 10px 22px;
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .header-global_wrapper {
    height: 70px;
    .site-logo-img {
      height: 55px;
      padding-left: 20px;
    }
    .members-bar_mobile-more-btn {
      position: absolute;
      right: 20px;
      width: 90px;
      height: 40px;
      border-radius: 5px;
      font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.52);
      background-color: transparent;
      color: white;
    }
    .header-global_members-area {
      width: 150px;
      display: flex;
      flex-direction: column;
      padding-right: 0;
      transform: translateY(80%);
      z-index: 6;
      span {
        display: none;
      }
      .subscription-bar {
        padding: 0;
        width: 100%;
        height: 50px;
        font-size: 18px;
        border: 2px solid white;
      }
      .login-bar {
        padding: 0;
        width: 100%;
        height: 50px;
        font-size: 18px;
        background-color: black;
        margin-top: 10px;
        border: 2px solid white;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .header-global_wrapper {
    .site-logo-img {
      height: 40px;
    }
    .header-global_members-area {
      width: 550px;
      span {
        font-size: 15px;
      }
      .subscription-bar {
        font-size: 18px;
        padding: 7px 22px 10px 22px;
      }
      .login-bar {
        font-size: 18px;
        padding: 7px 22px 10px 22px;
      }
    }
  }
}
