@mixin oauthButtons {
  padding: 10px 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 10px;
}

.login-modal_wrapper {
  position: fixed;
  width: 700px;
  height: 700px;
  background-color: rgb(5, 5, 5);
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid rgba(235, 224, 195, 0.582);
  .login-modal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    .login-modal_title {
      cursor: pointer;
      width: 110%;
      text-align: center;
      &:hover {
        color: rgb(203, 240, 203);
        box-shadow: 0 0 5px white;
      }
    }
    input {
      width: 300px;
      height: 40px;
      background-color: transparent;
      border: 1px solid rgba(109, 109, 109, 0.698);
      border-radius: 5px;
      margin: 10px;
      color: white;
      padding-left: 20px;
      outline: none;
      &:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.527);
      }
    }
    .login-form_submit-btn {
      padding: 10px 35px;
      margin-top: 30px;
      border-radius: 2px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: blue;
        color: white;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.466);
      }
    }
    .login-form_google-login {
      @include oauthButtons;
      background-color: rgb(255, 255, 255);
      color: rgb(255, 0, 0);
      text-shadow: 0 0 2px rgb(255, 102, 0);
      &:hover {
        background-color: rgb(255, 1, 1);
        color: rgb(255, 255, 255);
        box-shadow: 0 0 5px rgb(255, 255, 255);
      }
    }
    .login-form_facebook-login {
      @include oauthButtons;
      background-color: blue;
      color: white;
      &:hover {
        background-color: rgb(255, 255, 255);
        color: blue;
        box-shadow: 0 0 5px blue;
      }
    }
    .login-modal_close-btn {
      position: absolute;
      top: 0;
      right: 10px;
      background-color: transparent;
      color: gray;
      font-size: 36px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1201px) {
  .login-modal_wrapper {
    .login-modal_container {
      input {
        width: 350px;
        height: 50px;
      }
      .login-form_submit-btn {
        padding: 13px 60px;
        font-size: 18px;
      }
      .login-form_google-login {
        padding: 15px 35px;
        font-size: 18px;
      }
      .login-form_facebook-login {
        padding: 15px 35px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .login-modal_wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    z-index: 3;
    left: 0;
    top: 0;
    transform: none;
    .login-modal_container {
      width: 90%;
      height: 80%;
      input {
        min-height: 60px;
      }
      .login-form_submit-btn {
        padding: 13px 40px;
        margin-top: 30px;
        border-radius: 2px;
        font-size: 18px;
        cursor: pointer;
        background-color: blue;
        color: white;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.466);
      }
      .login-form_google-login {
        width: 220px;
        padding: 20px 0;
        font-size: 18px;
      }
      .login-form_facebook-login {
        width: 220px;
        padding: 20px 0;
        margin-top: 25px;
        font-size: 18px;
      }
      .login-modal_close-btn {
        position: absolute;
        top: 0;
        right: 10px;
        background-color: transparent;
        color: gray;
        font-size: 36px;
        cursor: pointer;
      }
    }
  }
}
