.members-bar_wrapper {
  max-width: 50%;
  height: 90%;
  transform: translateX(100%);
  padding-right: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  .members-bar_login-button {
    width: 100px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Netflix Sans";
    font-size: 17px;
    padding-bottom: 4px;
    margin: auto;
    position: absolute;
    right: 55px;
    &:hover {
      box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.26),
        -1px -1px 5px rgba(255, 255, 255, 0.233);
      cursor: pointer;
    }
  }
  .member_welcome-message {
    position: absolute;
    right: 180px;
    padding: 9px 15px;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 2px;
    background-color: transparent;
    color: white;
  }
}

@media screen and (max-width: 1201px) {
  .header-home_wrapper {
    .site-logo-img {
      max-width: 130px;
      max-height: 100px;
    }
  }
}
@media screen and(max-width: 969px) {
  .members-bar_wrapper {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    height: 150px;
    max-width: 350px;
    position: absolute;
    right: 25px;
    top: 0;
    transform: none;
    .members-bar_login-button {
      width: 120px;
      height: 40px;
      margin: auto;
      position: relative;
      transform: translate(70%);
    }
    .member_welcome-message {
      position: relative;
      right: 0;
      width: 100%;
      border: none;
      font-size: 20px;
    }
  }
}
