.search-bar_wrapper {
  height: 30px;
  .search-bar_input-bar {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 300px;
    padding: 7px 10px;
    color: white;
    &::placeholder {
      color: gray;
    }
    &:focus {
      border: 1px solid rgba(128, 128, 128, 0.404);
      border-radius: 5px;
      outline: none;
    }
  }
  .search-options_wrapper {
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 6;
    .search-item_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      height: 80px;
      background-size: cover;
      width: 100%;
      .search-item_title {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.746);
      }
    }
  }
}

@media screen and (max-width: 1900px) {
  .search-bar_wrapper {
    .search-bar_input-bar {
      width: 350px;
      font-size: 18px;
    }
    .search-options_wrapper {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      .search-item_title {
        height: 100px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 969px) {
  .search-bar_input-bar {
    max-width: 280px;
  }
}

@media screen and (max-width: 481px) {
  .search-bar_wrapper {
    position: absolute;
    left: 0;
    top: 60px;
    height: 40px;
    z-index: 4;
    max-width: 100vw;
    width: 100vw;
    .search-bar_input-bar {
      max-width: 100vw;
      height: 100%;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.692);
      color: black;
    }
    .search-options_wrapper {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      .search-item_title {
        height: 100px;
        font-size: 18px;
      }
    }
  }
}
