.preview-edit-panel_wrapper {
  position: absolute;
  background-color: #504e4e;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 10px;
  top: 0;
  width: 300px;
  transform: translateY(-110%);
}
.preview-edit-panel_wrapper .edit-panel_item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-edit-panel_wrapper .edit-panel_item-wrapper .input-range {
  -webkit-appearance: none;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background: #cfcfcf;
}
.preview-edit-panel_wrapper .edit-panel_item-wrapper .input-range::-webkit-slider-thumb, .preview-edit-panel_wrapper .edit-panel_item-wrapper .input-range::-moz-range-thumb {
  background-color: #6f11a5;
}
.preview-edit-panel_wrapper .edit-panel_item-wrapper .border_range {
  height: 5px;
}

.builder-page_wrapper .builder-widget_wrapper {
  background-color: rgba(128, 128, 128, 0.37);
  margin: 10px 50px 10px 50px;
  display: flex;
  position: relative;
  height: 1000px;
}
.builder-page_wrapper .builder-widget_wrapper .save-changes_btn {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 3px;
  padding: 7px 20px;
  cursor: pointer;
}
.builder-page_wrapper .builder-widget_wrapper .save-changes_btn:active {
  box-shadow: 0 0 5px rgba(21, 255, 0, 0.411);
  color: green;
}
.builder-page_wrapper .builder-widget_wrapper .save-changes_btn:hover {
  background-color: #025302;
  color: white;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.63);
  position: relative;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper #resize-handler {
  position: absolute;
  right: 0;
  top: calc(50% - 100px);
  height: 100px;
  border-radius: 10px;
  cursor: w-resize;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper .editor-elements_container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper .editor-elements_container .elements-group_container {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper .editor-elements_container .elements-group_container .elements-group_title {
  margin-top: 0;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper .editor-elements_container .elements-group_container .element-group_elements-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px;
  width: 100%;
}
.builder-page_wrapper .builder-widget_wrapper .builder-editor_wrapper .editor-elements_container .elements-group_container .element-group_elements-list .element-item_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper {
  width: fit-content;
  position: absolute;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper:hover .preview-item_edit-btn {
  display: block;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper:hover .preview-item_delete-btn {
  display: block;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper .element-child {
  cursor: grabbing !important;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper .preview-item_edit-btn {
  position: absolute;
  width: 40px;
  height: 45px;
  top: -25px;
  background-color: transparent;
  color: #ffffff;
  text-shadow: 0 0 10px black;
  display: none;
  cursor: pointer;
  left: -20px;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper .preview-item_edit-btn:hover {
  color: #9ad39a;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper .preview-item_delete-btn {
  position: absolute;
  width: 40px;
  height: 45px;
  top: -25px;
  background-color: transparent;
  color: #ffffff;
  text-shadow: 0 0 10px black;
  display: none;
  cursor: pointer;
  right: -20px;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper .preview-item_delete-btn:hover {
  color: #d10808;
}
.builder-page_wrapper .builder-widget_wrapper .builder-preview_wrapper .preview-item_wrapper .preview-item_size-handler {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #0c0c0c;
  border: 1px solid white;
  height: 10px;
  width: 10px;
  cursor: nw-resize;
}

/*# sourceMappingURL=builder-page.css.map */
