.movie-item-similar_wrapper {
  padding-left: 100px;
  .movie-item_similar_text {
    font-size: 32px;
    text-align: left;
  }
  .movie-item_similar_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: left;
    grid-gap: 5px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 50px;
    .similar-item_wrapper {
      width: 300px;
      height: 170px;
      position: relative;
      .similar-item_poster {
        width: 100%;
        height: 100%;
        background-position: 25% 10%;
        background-size: cover;
      }
      .similar-item_title {
        position: absolute;
        bottom: 0;
        background-color: rgba(29, 27, 27, 0.568);
        width: 100%;
        padding: 5px 0 5px 15px;
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 1900px) {
  .movie-item-similar_wrapper {
    padding-left: 40px;
  }
}

@media screen and (max-width: 969px) {
  .movie-item-similar_wrapper {
    max-width: 100vw;
    padding: 0 10px;
    .movie-item_similar_container {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      justify-content: center;
      grid-gap: 10px;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 50px;
      .similar-item_wrapper {
        width: 100%;
        height: 200px;
        position: relative;
        .similar-item_poster {
          width: 100%;
          height: 100%;
          background-position: 25% 10%;
          background-size: cover;
        }
        .similar-item_title {
          position: absolute;
          bottom: 0;
          background-color: rgba(29, 27, 27, 0.568);
          width: 100%;
          padding: 5px 0 5px 15px;
          text-align: left;
        }
      }
    }
  }
}
@media screen and (max-width: 481px) {
  .movie-item-similar_wrapper {
    padding-left: 10px;
    width: 100vw;
    .movie-item_similar_container {
      display: grid;
      grid-template-columns: repeat(1, minmax(130px, 1fr));
    }
  }
}
