.movies-page_wrapper {
  .movies-page_title {
    font-size: 50px;
    font-family: "Netflix Sans Medium";
  }
  .movies-list_wrapper {
    margin: 50px auto;
    max-width: 95%;
    .movies-page_subtitle {
      font-size: 35px;
    }
    .movies-page_movies-list {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      .movies-list_navigation {
        position: absolute;
        height: 100%;
        z-index: 2;
        width: 140px;
        display: flex;
        align-items: center;
        top: 0;
        &__left {
          background: linear-gradient(to right, black, transparent);
        }
        &__right {
          background: linear-gradient(to left, black, transparent);
        }
        .movies-list_nav-btn {
          width: 100%;
          height: 70px;
          background-color: transparent;
          cursor: pointer;
          span {
            content: "";
            &::before {
              content: "";
              height: 3px;
              width: 30px;
              background-color: rgba(255, 255, 255, 0.541);
              position: absolute;
            }
            &::after {
              content: "";
              height: 3px;
              width: 30px;
              background-color: rgba(255, 255, 255, 0.541);
              position: absolute;
            }
          }
        }
        &__left {
          left: 0;
          span {
            &::before {
              transform: rotate(45deg) translateY(450%);
            }
            &::after {
              transform: rotate(-45deg) translateY(-450%);
            }
          }
        }
        &__right {
          right: 0;
          span {
            &::before {
              transform: rotate(135deg) translateY(-450%);
            }
            &::after {
              transform: rotate(-135deg) translateY(450%);
            }
          }
        }
      }
      .movies-list_movies-container {
        display: flex;
        grid-gap: 10px;
        flex-wrap: nowrap;
        .movie-item_wrapper {
          cursor: pointer;
          .movie-item_poster-container {
            width: 370px;
            height: 250px;
            background-size: cover;
            background-position: 0 18%;
            border-radius: 3px;
            &:hover {
              box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.377);
            }
            &:hover + .movie-item_title {
              text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.575);
              color: rgb(255, 81, 0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .movies-page_wrapper {
    overflow: hidden;
    .movies-page_title {
      font-size: 40px;
      padding-top: 40px;
    }
    .movies-list_wrapper {
      margin: 50px auto;
      max-width: 95%;
      .movies-page_movies-list {
        .movies-list_navigation {
          display: none;
        }
        .movies-list_nav-btn {
          display: none;
          span {
            display: none;
          }
        }
      }
    }
    .movies-list_movies-container {
      display: flex;
      grid-gap: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      .movie-item_wrapper {
        cursor: pointer;
        .movie-item_poster-container {
          width: 370px;
          height: 250px;
          background-size: cover;
          background-position: 0 18%;
          border-radius: 3px;
          &:hover {
            box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.377);
          }
          &:hover + .movie-item_title {
            text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.575);
            color: rgb(255, 81, 0);
          }
        }
      }
    }
  }
}
